{% extends "accounts/base-profile.html" %}{% load i18n l10n pages widget_tweaks %}

{% block sidebar_profile %}
    <a class="list-group-item active" href="{% url "qs_accounts:profile" %}">{% trans "Profile" %}</a>
{% endblock %}

{% block content %}

    <h2 class="page-header content">{% trans "Change Password" %}</h2>

    <form action="." method="post" role="form">
        {% csrf_token %}

        {% include "_includes/form-errors.html" %}

        <div class="row">
            <div class="col-sm-12">
                {% include "_includes/horizontal-labeled-big-field.html" with field=form.old_password|attr:"autofocus" control_cols=6 %}
            </div>
            <div class="col-sm-12">
                {% include "_includes/horizontal-labeled-big-field.html" with field=form.new_password1  control_cols=6 %}
            </div>
            <div class="col-sm-12">
                {% include "_includes/horizontal-labeled-big-field.html" with field=form.new_password2  control_cols=6 %}
            </div>
        </div>
        <div class="form-panel">
            <div class="col-sm-offset-2">
                <button class="btn btn-primary btn-lg" type="submit">{% trans "Update" %}</button>
                <a href="{% url "qs_accounts:profile" %}" class="btn btn-default btn-lg"
                   role="button">{% trans "Cancel" %}</a>
            </div>
        </div>
    </form>
{% endblock %}
