{% extends "accounts/base-profile.html" %}{% load i18n l10n pages widget_tweaks %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form action="." method="post" role="form">
        {% csrf_token %}

        {% include "_includes/form-errors.html" %}

        <div class="row">
            {% include "_includes/vertical-labeled-big-field.html" with field=form.old_password|attr:"autofocus" control_cols=6 %}
        </div>
        <div class="row">
            {% include "_includes/vertical-labeled-big-field.html" with field=form.new_password1  control_cols=6 %}
        </div>
        <div class="row">
            {% include "_includes/vertical-labeled-big-field.html" with field=form.new_password2  control_cols=6 %}
        </div>

        <div class="form-button-panel">
            <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
            <a href="{% url "qs_accounts:profile" %}" class="btn btn-link" role="button">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock %}
