{% extends "accounts/accounts.html" %}{% load i18n l10n pages widget_tweaks %}


{% block menu_signin %}
    <li class="active"><a href="{% url "qs_accounts:signin" %}">{% trans "Sign in" %}</a></li>{% endblock %}


{% block body_class %}{{ block.super }} reset-confirm{% endblock %}


{% block title %}{% trans "New password" %}{% endblock %}


{% block panel %}
    {% block reset_confirm_form %}
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form action="" method="post" role="form">
            {% csrf_token %}

            {% include "_includes/form-errors.html" %}

            {% block reset_confirm_form_fields %}
                {% include "_includes/vertical-placeholder-big-password.html" with field=form.new_password1|attr:"autofocus" %}
                {% include "_includes/vertical-placeholder-big-password.html" with field=form.new_password2 %}
            {% endblock %}

            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" type="submit">
                    {% trans "Change password" %}
                </button>
            </div>
        </form>
    {% endblock %}
{% endblock %}
