{% extends "accounts/accounts.html" %}{% load i18n l10n pages widget_tweaks %}


{% block menu_signin %}
    <li class="active"><a href="{% url "qs_accounts:signin" %}">{% trans "Sign in" %}</a></li>{% endblock %}


{% block body_class %}{{ block.super }} reset{% endblock %}


{% block title %}{% trans "Reset password" %}{% endblock %}


{% block panel %}
    {% block reset_form %}
        <p>{% trans "Enter your e-mail address below, and we'll send you instructions for setting a new one." %}</p>

        <form action="" method="post" role="form">
            {% csrf_token %}

            {% include "_includes/form-errors.html" %}

            {% block reset_fields %}
                {% include "_includes/vertical-placeholder-big-field.html" with field=form.email|attr:"autofocus" %}
            {% endblock %}

            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" type="submit">{% trans "Reset" %}</button>
            </div>
        </form>
    {% endblock %}
{% endblock %}
