{% extends "page.html" %}{% load i18n l10n %}


{% block meta_tags %}{{ block.super }}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}


{% block body_class %}signup-complete{% endblock %}


{% block menu_signup %}
    <li class="nav-item active"><a class="nav-link" href="{% url "qs_accounts:signup" %}">{% trans "Sign up" %}</a>
    </li>{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <div class="message panel">
                    <div class="page-header">
                        <h1>{% trans "Activation e-mail sent" %}</h1>
                        <p>{% trans "Please check your e-mail to complete the registration process." %}</p>
                    </div>
                    <a class="btn btn-primary btn-lg btn-block" href="{% url "qs_accounts:signin" %}">
                        {% trans "Back to Sign in" %}
                    </a>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
