{% load i18n l10n pages widget_tweaks %}
<div class="row form-group{% if field.errors %} has-danger{% endif %}">
    <label class="form-control-label col-form-label-lg col-lg-{{ label_cols|default:"2" }}" for="{{ field.auto_id }}">{{ field.label }}</label>
    <div class="col-lg-{{ input_cols|default:"10" }}">
        {% if autofocus %}
            {% render_field field class+="form-control form-control-lg" placeholder=placeholder autofocus="autofocus" %}
        {% else %}
            {% render_field field class+="form-control form-control-lg" placeholder=placeholder %}
        {% endif %}
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% if field.errors %}
            <div class="form-control-feedback">{{ field.errors|join:", " }}</div>
        {% endif %}
    </div>
</div>
