*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
sdist

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

.idea
app-messages/

# Sphinx
docs/_build

# misc
*.db
