{% extends "page.html" %}{% load i18n l10n pages widget_tweaks %}


{% block menu_signin %}
    <li class="active"><a href="{% url "qs_accounts:signin" %}">{% trans "Sign in" %}</a></li>{% endblock %}


{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="form-panel">
                    <h2>{% trans "Reset password" %}</h2>

                    <p>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>

                    <form action="" method="post" role="form">
                        {% csrf_token %}

                        {% include "_includes/form_errors.html" %}
                        {% include "_includes/bigfield.html" with field=form.email|attr:"autofocus" %}

                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">{% trans "Reset" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
