{% extends "page.html" %}{% load i18n l10n pages widget_tweaks %}


{% block meta_tags %}{{ block.super }}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}


{% block body_tag %}
    <body class="signin">{% endblock %}

{% block menu_signin %}
    <li class="active"><a href="{% url "qs_accounts:signin" %}">{% trans "Sign in" %}</a></li>{% endblock %}


{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% include "_includes/message_panels.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="form-panel">
                    <h2>{% trans "Sign in" %}</h2>

                    <form action="" method="post" role="form">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-warning">
                                <span class="help-block">{{ form.non_field_errors|join:", " }}</span>
                            </div>
                        {% endif %}

                        {% include "_includes/bigfield.html" with field=form.username|attr:"autofocus" %}
                        {% include "_includes/bigfield_password.html" with field=form.password %}

                        <div class="form-group">
                            <a href="{% url "qs_accounts:password_reset" %}">{% trans "Forgot password?" %}</a>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">
                                {% trans "Sign in" %}
                            </button>
                        </div>

                        <div class="form-group">
                            {% trans "Don't have an account?" %}
                            <a href="{% url "qs_accounts:signup" %}">{% trans "Sign up" %}.</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
