{% extends "pages.html" %}{% load i18n l10n pages widget_tweaks get_social_backends %}


{% block meta_tags %}{{ block.super }}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}


{% block body_tag %}
    <body class="signup">{% endblock %}

{% block menu_signup %}
    <li class="active"><a href="{% url "qs_accounts:signup" %}">{% trans "Sign up" %}</a></li>{% endblock %}


{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="form-panel">
                    <h2>{% trans "Sign up" %}</h2>

                    <form action="" method="post" role="form">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-warning">
                                <span class="help-block">{{ form.non_field_errors|join:", " }}</span>
                            </div>
                        {% endif %}

                        {% include "_includes/bigfield.html" with field=form.name|attr:"autofocus" %}
                        {% include "_includes/bigfield.html" with field=form.email %}
                        {% include "_includes/bigfield_password.html" with field=form.password1 %}
                        {% include "_includes/bigfield_password.html" with field=form.password2 %}

                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">{% trans "Sign up" %}</button>
                        </div>

                        {% get_social_backends as social_auth_backends %}
                        {% if social_auth_backends %}
                            {% trans "Sign up with" as verb %}
                            {% include "_includes/social_options.html" with verb=verb %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
