{# Here we define the common layout used by website and app #}
{% extends "_core/bootstrap.html" %}{% load i18n l10n pages widget_tweaks staticfiles %}


{% block styles %}{{ block.super }}
    <link rel="stylesheet" href="{% static "css/quickstartup.css" %}">
{% endblock %}


{% block page_title %}{{ PROJECT_NAME }}{% endblock page_title %}


{% block html_body %}
    <div id="wrap">
        {% block navbar %}
            <nav class="{% block navbar_class %}navbar navbar-inverse navbar-static-top{% endblock %}">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">{% trans "Toggle navigation" %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% block brand %}
                            <a class="navbar-brand" href="{% url "qs_pages:index" %}">
                                <img src="{% static "images/logo-140x35.png" %}" alt="{{ PROJECT_NAME }}">
                            </a>
                        {% endblock %}
                    </div>
                    {% block navbar_menu %}{% endblock %}
                </div>
            </nav>
        {% endblock %}
        {% block container %}{% endblock %}
    </div>
    {% block footer %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 footer">
                    <footer>
                        {% block footer_content %}
                            <p class="pull-left">{% block copyright %}
                                &copy; 2015 Osvaldo Santana Neto
                            {% endblock %}
                            </p>
                            <p class="pull-right">
                            {% block footer_links %}{% endblock footer_links %}
                            </p>
                        {% endblock footer_content %}
                    </footer>
                </div>
            </div>
        </div>
    {% endblock footer %}
{% endblock html_body %}
