{# Here we define the common layout used by website and app #}
{% extends "_core/bootstrap.html" %}{% load i18n l10n pages widget_tweaks static %}


{% block styles %}{{ block.super }}
    <link rel="stylesheet" href="{% static "css/quickstartup.css" %}">
{% endblock %}


{% block page_title %}{{ PROJECT_NAME }}{% endblock page_title %}


{% block html_body %}
    <div id="wrap">
        {% block navbar %}
            <nav class="navbar {% block navbar_class %}navbar-full navbar-dark bg-inverse{% endblock %}">
                {% block brand %}
                    <a class="navbar-brand" href="{% url "qs_pages:index" %}">{{ PROJECT_NAME }}</a>
                {% endblock %}

                <button class="navbar-toggler hidden-lg-up"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive"
                        aria-expanded="false"
                        aria-label="Toggle navigation"></button>
                <div class="collapse navbar-toggleable-md" id="navbarResponsive">
                    {% block navbar_menu %}
                        <ul class="nav navbar-nav">
                            {% block navbar_left_options %}{% endblock %}
                        </ul>
                        <ul class="nav navbar-nav float-xs-right">
                            {% block navbar_right_options %}{% endblock %}
                        </ul>
                    {% endblock %}
                </div>
            </nav>
        {% endblock %}
        <div class="container-fluid">
            <!-- main container section -->
            {% block container %}{% endblock %}
        </div>
    </div>
    {% block footer %}
        <footer class="container-fluid footer">
            {% block footer_content %}
                <div class="row">
                    <div class="col-xs">
                        <p>{% block copyright %}&copy; 2016 Osvaldo Santana Neto{% endblock %} </p>
                    </div>
                    <div class="col-xs">
                        <p class="float-xs-right">
                            {% block footer_links %}{% endblock footer_links %}
                        </p>
                    </div>
                </div>
            {% endblock %}
        </footer>
    {% endblock footer %}
{% endblock html_body %}
