/* global (website & app) */
/* ---------------------- */
.navbar-brand {
    padding: 8px 10px;
}

/* sticky footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

.footer {
    margin: 50px 0 0;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footer p {
    margin: 0;
}


/* website */
/* ------- */

/*noinspection ALL*/
body.page {
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #333333;
    background-attachment: fixed;
}

.page .footer {
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}

.page .footer a {
    color: #fff;
    text-decoration: underline;
}

.page .panel {
    margin-top: 50px;
    background-color: #fff;
    padding: 0 20px 10px;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .8);
}

/* website->landing */
.landing .jumbotron {
    margin-top: 50px;
    background-color: transparent;
}

.landing .jumbotron h1 {
    font-family: "Helvetica Neue Light", Arial, sans-serif;
    font-weight: lighter;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.landing .jumbotron p {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.landing .tour {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, .9);
}

.landing .tour .box {
    padding: 20px;
}

/* website->pages */
.page .breadcrumb {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.page .content {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 50px;
    min-height: 50em;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

/* website->contact */
.contact textarea {
    resize: none;
}


/* app->profile */
.page-header.content {
    margin-top: 0;
}


.form-panel {
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
    padding: 20px 0;
    margin: 20px 0;
}
