/* global (website & app) */
/* ---------------------- */

/* sticky footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

.footer {
    padding: 10px 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}

.project-container {
    margin: 20px 0;
}

/* website */
/* ------- */

/*noinspection ALL*/
body.page {
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #333333;
    background-attachment: fixed;
}

.page .footer {
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}

.page .footer a {
    color: #fff;
    text-decoration: underline;
}

.page .panel {
    background-color: rgba(255,255,255,.9);
    padding: 20px;
}

/* website->landing */
.landing .jumbotron {
    margin-top: 50px;
    background-color: transparent;
}

.landing .jumbotron h1 {
    font-family: "Helvetica Neue Light", Arial, sans-serif;
    font-weight: lighter;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.landing .jumbotron p {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.landing .tour {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, .9);
}

.landing .box {
    padding: 20px;
}

/* website->pages */
.page .breadcrumb {
    border-radius: 0;
    margin-top: 20px;
}

.page .content {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    min-height: 50em;
}

.page .flash-messages {
    margin-top: 50px;
}

.page .message.panel {
    margin-top: 50px;
}

/* website->contact */
.contact textarea {
    resize: none;
}


/* app */
.app .flash-messages {
    margin-top: 30px;
}

.app .content h1 {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.app .form-button-panel {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding: 20px;
    background-color: rgba(0, 0, 0, .03);
}


