{% extends "page.html" %}{% load i18n l10n %}


{% block body_class %}{{ page.slug }}{% endblock %}


{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-xs">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="{% url "qs_pages:index" %}">{% trans "Home" %}</a></li>
                    <a class="breadcrumb-item active">{% block title %}{% endblock %}</a>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-xs">
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
