{% extends "website/content.html" %}{% load i18n l10n %}


{% block meta_tags %}{{ block.super }}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}


{% block page_title %}{% trans "Privacy Policy" %} — {{ block.super }}{% endblock page_title %}


{% block content %}
    <div class="page-header">
        <h1>{% block title %}{% trans "Privacy Policy" %}{% endblock %}</h1>
    </div>
    {% block privacy %}
        <p><a href="https://termsfeed.com/">{% trans "Create your Privacy Policy here" %}</a></p>
    {% endblock %}
{% endblock %}
