/* Global */

/*noinspection ALL*/
body {
    background-image: url("/static/website/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #333333;
    background-attachment: fixed;
}

label {
    text-transform: capitalize;
}

.content {
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    text-shadow: 0 1px 0 #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.navbar-brand {
    padding: 8px 10px;
}

.jumbotron {
    margin-top: 50px;
    background-color: transparent;
}

.jumbotron h1 {
    font-family: "Helvetica Neue Light", Arial, sans-serif;
    font-weight: lighter;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.jumbotron p {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.tour {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, .9);
}

.tour .box {
    padding: 20px;
}

.form-panel {
    margin-top: 50px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .8);
}

.form-panel h2 {
    margin-bottom: 20px;
}

.footer {
    margin-top: 50px;
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}
